* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "Oswald-light";
    src: url("Oswald-Light.woff") format("woff");
}

body {
    background-image: url('pizza3.jpg');
    color: rgb(248, 248, 248);
}

#logo {
    display: inline;
    float: left;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 150px;
    font-family: "Oswald-light";
    color: cornsilk;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Oswald-light";
}

#principal {
    width: 100vh;
    height: 700px;
}

.contenedor {
    overflow: hidden;
}

#prin,
#promo1,
#promo2,
#menu1,
#menu2,
#menu3 {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 15px;
    border: 2px solid rgb(48, 48, 48);
}

#familia,
#principal,
#menu,
#promo,
#contacto {
    background-color: rgba(0, 0, 0, 0.493);
    padding: 20px;
    display: block;
    margin: auto;
    margin: 30px;
    border-radius: 15px;
    border: 2px solid rgb(48, 48, 48);
    width: 1300px;
}

a {
    padding: 10px;
    margin: 20px;
    display: inline-block;
}

.fab {
    border: 1px solid whitesmoke;
    color: cornsilk;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 15px;
}

button {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    width: 100px;
    height: 35px;
    margin: 6px;
}

.btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 150px;
    font-size: 40px;
    font-family: "Oswald-light";
}

.card {
    width: 200px;
    height: 300px;
    background-color: black;
    border-radius: 50px;
    display: inline;
    margin: 100px;
}

footer {
    text-align: center;
    width: 100%;
    color: ivory;
    position: absolute;
}

#me {
    text-align: left;
}